/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

:root {
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);

  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);

  --padding: 2.2rem;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
}

.attribution a {
  color: deeppink;
}

body {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: 'Young Serif', serif;
  font-weight: 400;
  font-style: normal;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 700;
}

body {
  background-color: var(--eggshell);
  display: grid;
  place-items: center;
}

main {
  background-color: var(--white);
  border-radius: 24px;
  margin: 9rem auto;
  width: min(45rem, 90%);
}

.img-wrapper {
  padding-inline: var(--padding);
  padding-block-start: var(--padding);
}

img {
  border-radius: 16px;
}

.wrapper {
  padding: var(--padding);
}

:where(p, li) {
  font-size: 1.1111111111111112rem;
  color: var(--wenge-brown);
}

h1 {
  font-size: 2.5rem;
}

.intro {
  font-size: 0.999999rem;
  font-weight: 300;
}

.prep {
  background-color: var(--rose-white);
  border-radius: 20px;
  padding: 20px;
  margin-block: 30px;

  & p {
    font-size: 1.25rem;
    color: var(--dark-raspberry);
    margin-bottom: 15px;
  }

  & li:not(:last-child) {
    padding-bottom: 16px;
  }
}
