.attribution {
  font-size: 0.9rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
.attribution a:hover {
  color: fuchsia;
  transform: scale(0.9);
}
