:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--cream);
  display: grid;
  grid-template-rows: 1fr 2rem;
  align-items: center;
  justify-content: center;
}

.perfume {
  border-radius: 0.8rem 0 0 0.8rem;
  flex: 1;
}

main {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  width: 634px;
  height: 475px;
  border-radius: 0.8rem;
  color: var(--dark-grayish-blue);
}

a:hover,
a:active {
  opacity: 0.8;
}

p:first-of-type {
  text-transform: uppercase;
}

h1 {
  color: var(--very-dark-blue);
  font-family: 'Fraunces', serif;
  font-weight: 700;
  line-height: 1.2;
}

.text {
  background-color: var(--white);
  border-radius: 0 0.8rem 0.8rem 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  padding: 2em;
}

.text > a {
  background-color: var(--dark-cyan);
  border-radius: 0.6rem;
  color: var(--white);
  display: flex;
  font-weight: 700;
  gap: 1rem;
  justify-content: center;
  text-decoration: none;
  padding: 1em 0;
}

.prices {
  display: flex;
  gap: 1rem;
  align-items: center;
}

span:first-of-type {
  color: var(--dark-cyan);
  font-family: 'Fraunces', serif;
  font-size: xx-large;
}

.nope {
  text-decoration: line-through;
}

.cart {
  padding: 0;
  margin: 0;
  flex: 0;
}

.attribution {
  font-size: 0.9rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

a.steve {
  color: hotpink;
}

@media (max-width: 500px) {
  main {
    flex-direction: column;
    width: 340px;
    height: 610px;
  }

  .perfume {
    border-radius: 0.8rem 0 0 0.8rem;
    height: 25vh;
    flex: 1;
    object-fit: cover;
    border-radius: 0.8rem 0.8rem 0 0;
  }

  .text {
    border-radius: 0 0 0.8rem 0.8rem;
  }
}
