:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);

  --light: 300;
  --bold: 600;
  --extra-bold: 700;
}

:where(body) {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.25rem;
}

:where(main, footer) {
  margin-inline: auto;
  text-align: center;
  width: min(90%, 33rem);
}

:where(.logo, .illustration) {
  margin-inline: auto;
}

main {
  color: var(--very-dark-blue);
}

h1 {
  color: var(--gray);
  font-weight: var(--light);
  margin-top: 3.3rem;
}

header {
  margin-bottom: 2.2rem;
}

.logo {
  margin-top: 4.1rem;
}

.sub {
  font-size: 1rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.pill {
  border-radius: 10rem;
  padding: 0.45rem;
}

.email {
  border: 1px solid var(--pale-blue);
  color: var(--pale-blue);
  flex-grow: 3.5;
}

::placeholder {
  color: inherit;
  font-size: 1rem;
  font-weight: var(--light);
  padding: 0.45rem;
}

.btn {
  background-color: var(--blue);
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: white;
  flex: 1 9.8rem;
  font-size: 0.9rem;
  font-weight: var(--bold);
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: var(--pale-blue);
}

footer {
  color: var(--gray);
  font-size: 0.7rem;
  margin-block-end: 2.6rem;
  margin-top: 1.22rem;
}

.bold {
  color: var(--very-dark-blue);
  font-weight: var(--bold);
}

.illustration {
  margin-top: 4.9rem;
  margin-bottom: 3.7rem;
}

.socials {
  color: white;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.socials > * {
  border: 1px solid var(--gray);
  border-radius: 900vw;
  fill: hsl(0, 0%, 100%);
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
}
