:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);

  --linear-135deg: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --linear-135deg-2: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );

  --font-family: 'Josefin Sans', sans-serif;
  --font-light: 300;
  --font-regular: 400;
  --font-semibold: 600;
}

body {
  background-color: var(--linear-135deg);
  color: var(--desaturated-red);
  font-family: var(--font-family);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100dvh;
}

header {
  padding: 2rem;
}

h1 {
  font-weight: var(--font-light);
  letter-spacing: 0.4rem;
  margin-inline: auto;
  max-inline-size: 10ch;
  text-transform: uppercase;
}

.bold {
  color: var(--dark-grayish-red);
  font-weight: var(--font-semibold);
}

.hero img {
  width: 100%;
  object-fit: cover;
}

.text {
  display: grid;
  gap: 1rem;
  font-weight: var(--font-regular);
  margin: 2rem;
  text-align: center;
}

form {
  accent-color: var(--desaturated-red);
  margin-block: 1.2rem;
}

.inputs {
  border: 1px solid var(--desaturated-red);
  border-radius: 2rem;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
}

.inputs.invalid {
  outline: 2px solid var(--soft-red);
}

input::placeholder {
  color: var(--desaturated-red);
  opacity: 0.5;
}

input {
  border: 0;
  padding-inline-start: 1rem;
  width: 100%;
}

.error {
  margin-left: -3rem;
  margin-right: -55px;
  position: relative;
  left: -5rem;
  top: 0.7rem;
}

.hidden {
  visibility: hidden;
}

button {
  background: var(--linear-135deg-2);
  box-shadow: 1px 2px 4px var(--desaturated-red);
  border: 0;
  border-radius: 2rem;
  cursor: pointer;
  padding: 0.85rem 1.8rem;
}

form p {
  color: var(--soft-red);
  font-size: 0.8rem;
  margin-top: 0.5rem;
  padding-inline-start: 1rem;
  text-align: left;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
}

@media (min-width: 62.5rem) {
  html {
    background-image: url(./static/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  body {
    display: grid;
    grid-template-areas:
      'logo img'
      'form img'
      'attr img';
    max-height: 100vh;
  }

  header {
    grid-area: logo;
  }

  .hero {
    grid-area: img;
    & img {
      height: 100vh;
    }
  }

  h1 {
    font-size: 3rem;
    margin-inline: revert;
  }

  main {
    grid-area: form;
    display: grid;
    align-items: center;
  }

  .text {
    text-align: left;
    max-width: 65%;
    margin-inline: auto;
    margin-block: 0;
    overflow-y: scroll;

    & p {
      font-size: 0.9rem;
    }
  }

  footer {
    grid-area: attr;
    overflow-y: scroll;
  }
}
