@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.99rem;
  font-family: 'Overpass', sans-serif;
  background-color: var(--very-dark-blue);
  color: var(--white);
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  grid-template-rows: 1fr 75px;
}

.card {
  background: radial-gradient(
      circle at 50% 0%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 30%
    ),
    var(--dark-blue);
  width: 460px;
  height: 464px;
  background-color: var(--dark-blue);
  border-radius: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem 2rem;
}

p {
  color: var(--light-grey);
  line-height: 1.7;
}

.nums {
  display: flex;
  justify-content: space-between;
}

.circle {
  background-color: hsl(213, 19%, 28%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}

.active {
  background: var(--medium-grey);
  color: var(--white);
}

.nums > .circle:hover {
  background-color: var(--orange);
  color: var(--white);
  cursor: pointer;
}

button {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  border-radius: 1.5rem;
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
}

button:hover {
  background-color: var(--white);
  color: var(--orange);
}

.thanks {
  align-items: center;
  text-align: center;
}

.rating {
  background-color: hsl(213, 19%, 28%);
  border-radius: 1.3rem;
  padding: 0.4rem 1rem;
  color: var(--orange);
}

.hide {
  display: none;
}

.show {
  display: flex;
}

@media (max-width: 464px) {
  .card {
    width: 90vw;
    height: 60vh;
  }
}
