:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);

  font-family: 'League Spartan', sans-serif;
}

body {
  background-image: url(static/images/bg-pattern-top-desktop.svg),
    url(static/images/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  font-size: clamp(0.9rem, calc(0.4vw + 0.9rem), 1.2rem);
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
}

main {
  margin-block: 3rem;
  margin-inline: auto;
  width: min(1300px, 88%);
}

h1 {
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1;
}

.topSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 1rem 7rem;
  margin-block-end: 3rem;
}

.about {
  color: var(--Very-Dark-Magenta);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
}

.about span {
  color: var(--Dark-Grayish-Magenta);
  font-weight: 500;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-inline: 3rem;
}

.rating {
  background-color: var(--Light-Grayish-Magenta);
  border-radius: 0.5rem;
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem 2rem;
  padding: 1rem 2rem;
}

.rating span {
  display: flex;
  gap: 0.5rem;
}

.rating.rating-1 {
  margin-inline-start: -3rem;
  margin-inline-end: 3rem;
}

.rating.rating-3 {
  margin-inline-start: 3rem;
  margin-inline-end: -3rem;
}

.bottomSection {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  background-color: var(--Very-Dark-Magenta);
  border-radius: 0.4rem;
  color: var(--White);
  flex: 1 300px;
  font-weight: 500;
  padding: 2rem 2.2rem;
}

.card.second {
  margin-block-start: 1rem;
  margin-block-end: -1rem;
}

.card.third {
  margin-block-start: 2rem;
  margin-block-end: -2rem;
}

.person {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-block-end: 2rem;
}

.person img {
  border-radius: 100rem;
  width: 3rem;
}

.buyer {
  display: flex;
  flex-direction: column;
}

.verified {
  color: var(--Soft-Pink);
}

@media (max-width: 825px) {
  .about {
    text-align: center;
    padding-inline: 0rem;
  }

  .reviews {
    padding-inline: 0;
  }

  .rating {
    justify-content: center;
  }

  .rating.rating-1 {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  .rating.rating-3 {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}
